:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  background-color: black;
}


#game {
  /*border: solid thin gray;*/
  position: fixed;
  top: 50%;
  left: 50%;
    /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: inline-flex;
  height: 660px;
  width: 600px;

  justify-content: center;
}

.scoreboard-left {
  width: 30%;
  height: 40px;
  text-align: right;
  border-right: solid thick gray;
  padding-right: 1em;
}

h1 {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

#moves-display {
  /*padding-left: 5px;*/
  width: 30px;
  height: 40px;
  /*border: solid thin black;*/
  text-align: center;
  background: Orange;
}

.gate.red {
  background: red;
  width: 100%;
  height: 100%;
}

.gate.blue {
  background-color: blue;
  width: 100%;
  height: 100%;
}

.gate.yellow {
  background-color: #ffe44d;
  width: 100%;
  height: 100%;
}

.gate.green {
  background-color: green;
  width: 100%;
  height: 100%;
}

.scoreboard-middle {
  position: relative;
  width: 40%;
  height: 40px;
  text-align: center;
  /*border: solid thin gray;*/
}

.scoreboard-right {
  width: 30%;
  height: 40px;
  text-align: left;
  border-left: solid thick gray;
  padding-left: 1em;
}

button {
  display: block;
}

/*#player1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}*/
/*
#player2 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}*/

#game-board {
  position: fixed;
  top: 55%;
  left: 50%;
    /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: grid;
  height: 600px;
  width: 600px;
  grid-template-rows:  6.125% 1% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 1% 6.125%;
  grid-template-columns: 6.125% 1% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 6.125% 1% 6.125%;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /*transform: rotate(45deg);  */
}


.square {
  position: relative;
  background-color: white;
/*  border: solid .5px PaleTurquoise;
*/  /*text-align: center;*/
  display: flex;
  justify-content:center;
  align-items: center;
}

.green.pig {
	background-color: green;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.red-circle {
  border: solid thick rgba(255, 0, 0, .6);
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

.yellow-circle {
  border: solid thick rgba(255, 228, 77, .6);
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

.green-circle {
  border: solid thick rgba(0, 128, 0, 0.6);
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

.blue-circle {
  border: solid thick rgba(0, 0, 255, 0.6);
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

.green.hay-bale {
  height: 70%;
  width: 70%;
/*  background: green;
  opacity: .4;*/
  border: solid green thick;
}

.red.hay-bale {
  height: 70%;
  width: 70%;
/*  background: red;
  opacity: .4;
*/  border: solid red thick;
}

.yellow.hay-bale {
  height: 70%;
  width: 70%;
/*  background: #ffe44d;
  opacity: .4;*/
  border: solid #ffe44d thick;
}

.blue.hay-bale {
  height: 70%;
  width: 70%;
/*  background: blue;
  opacity: .4;*/
  border: solid blue thick;
}

#blue-scoreboard-pig {
  background-color: blue;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

#red-scoreboard-pig {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#yellow-scoreboard-pig {
  background-color: #ffe44d;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

#green-scoreboard-pig {
  background-color: green;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.blue.pig {
	background-color: blue;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.red.pig {
	background-color: red;
  height: 80%;
  width: 80%;
  border-radius: 50%;  
}

.yellow.pig {
	background-color: #ffe44d;
  height: 80%;
  width: 80%;
  border-radius: 50%;  
}

.fence {
  background-color: lightgray;
  height: 100%;
  width: 100%;
}


.score-area {

}