:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#game-board {
  display: grid;
  grid-template-rows: 20px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 20px;
  grid-template-columns: 20px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 20px;
  justify-content: center;
}

.grid-cell {
  border: 1px solid gray;
  text-align: center;
}